.item {
    display: flex;
    gap: 24px;
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 20px;
    padding: 24px;
}

.image {
    width: 290px;
    object-fit: cover;
    border-radius: 10px;
}

.info {
    flex: 1;
}
