.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 44px;
}

.categoriesItem {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--block-features);
    border-radius: 100px;
    padding: 12px 18px;
}

.categoriesItemIcon {
    fill: transparent;
    stroke: var(--main);
}

.categoriesItemIconFill {
    fill: var(--main);
    stroke: transparent;
}