.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content--after-open {
    transform: translateY(0);
}
.ReactModal__Content--before-close {
    transform: translateY(50px);
}
