.header {
    background: var(--inputs);
    display: flex;
    align-items: center;
    padding: 24px 48px;
    gap: 40%;
    box-shadow: 0 0 6px var(--main);

    & .header_links {
        display: flex;
        align-items: center;
        gap: 32px;
        font-size: 22px;
    }
}
.header_logo {
    display: flex;
}

.link {
    &:global(.active) {
        color: red;
    }
}
