.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    border-bottom: 1px solid rgba(16, 24, 40, 0.1);
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.item_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
