@import 'src/styles/mixins';

.head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;
}

.head_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 8px;
}

.headRatingLocation {
    display: flex;
    gap: 16px;
}

.headRating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.headStarIcon {
    width: 16px;
    height: 16px;
    fill: var(--rating);
}

.headRatingText {
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.headLocation {
    display: flex;
    align-items: center;
    gap: 4px;
}

.headLocationIcon {
    width: 16px;
    height: 16px;
    fill: transparent;
    stroke: var(--main);
}

.headLocationText {
    line-height: 1.5;
}

.headPriceLike {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headPrice {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
}

.likeIcon {
    fill: transparent;
    stroke: var(--main);
    transition:
        fill 0.1s linear,
        stroke 0.1s linear;
}

.likeIconPressed {
    fill: var(--button);
    stroke: var(--button);
}
